*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# --- AfterReload CSGO Ignore ---
# Ignorar absolutamente todo lo que hay dentro de la carpeta del servidor
csgoserver/**

# Re-incluir solo configuraciones y lógica necesaria
!csgoserver/
!csgoserver/*.cfg
!csgoserver/lgsm/
!csgoserver/lgsm/config-lgsm/
!csgoserver/lgsm/config-lgsm/csgoserver/
!csgoserver/lgsm/config-lgsm/csgoserver/*.cfg
!csgoserver/serverfiles/
!csgoserver/serverfiles/csgo/
!csgoserver/serverfiles/csgo/cfg/
!csgoserver/serverfiles/csgo/cfg/*.cfg
!csgoserver/serverfiles/csgo/addons/sourcemod/configs/
!csgoserver/serverfiles/csgo/addons/sourcemod/configs/*.cfg
!csgoserver/serverfiles/csgo/addons/sourcemod/plugins/*.smx

# Ignorar archivos de sistema y temporales
.bash_history
.bash_logout
.profile
.steam/
.local/
# Ignora el grueso del servidor (binarios y contenido pesado)
**/steamcmd/
**/.local/
*.bsp
*.vpk
csgoserver/steamcmd/**