# --- LARAVEL VANILLA ---
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/auth.json

# --- CSGO & SYSTEM SECURITY ---
csgoserver/
server/
.ssh/
.bash_history
.bash_logout
.profile
.wget-hsts
csgoserver/serverfiles/
csgoserver/steamcmd/
csgoserver/.local/
csgoserver/.cache/

# --- EXCEPTIONS ---
!csgoserver/
!csgoserver/lgsm/config-lgsm/csgoserver/*.cfg
!csgoserver/serverfiles/csgo/cfg/*.cfg
!csgoserver/serverfiles/csgo/addons/sourcemod/configs/*.cfg
!csgoserver/serverfiles/csgo/addons/sourcemod/configs/*.ini
