##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances.
tickrate="128"
maxplayers="10"
sv_downloadurl="http://185.47.131.129/fastdl/"
