##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

gslt="F70A3720668BCF9FD0862B8519B51F78"

# Modo de Juego: Competitivo
gamemode="1"
gametype="0"

# Rendimiento y Red
tickrate="128"
maxplayers="10"
defaultmap="de_mirage"

# Parámetros de inicio extra
fn_parms(){
parms="-game csgo -usercon -strictportbind -ip ${ip} -port ${port} +clientport ${clientport} +tv_port ${sourcetvport} +sv_setsteamaccount ${gslt} -tickrate ${tickrate} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers_override ${maxplayers} +game_type ${gametype} +game_mode ${gamemode} -net_port_try 1"
}
