######################################
## AfterReload | Wingman Server Config
######################################

# Puertos (Diferentes al servidor principal)
port="27016"
clientport="27006"
sourcetvport="27021"

# Configuración del Modo de Juego (Wingman = 0, 2)
gametype="0"
gamemode="2"
mapgroup="mg_active"
defaultmap="de_shortnuke"

# Archivos de configuración
# El servidor buscará cfg/wingman.cfg dentro de serverfiles/csgo/
servercfg="wingman.cfg"

# Rendimiento y Optimización
tickrate="128"
maxplayers="4"

######################################
## Parámetros de Inicio Extra
######################################
# Forzamos los comandos de modo de juego en la línea de comandos de inicio
fn_parms(){
parms="-game csgo -console -usercon +ip ${ip} -port ${port} +clientport ${clientport} +tv_port ${sourcetvport} +sv_setsteamaccount ${gslt} -tickrate ${tickrate} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers_override ${maxplayers} +game_type ${gametype} +game_mode ${gamemode} +mapgroup ${mapgroup} -nohltv"
}

gslt="920EDD1905CC98D6C32916D97CE354B4"

